body {
  background-color: #e3dc90;
}

h1 {
  color: #ff0000;
  font-size: 40px;
  text-align: center;
  background-color: #71d780;
  background-position: center;

}

p {
  color: inherit;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  background-color: inherit;

}
